<!DOCTYPE html>
<html>
  <head>
    <script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>

        <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
    <title>Todo List</title>
  </head>
  <body>
    <h1>Todo app</h1>
    <div id="todo-table">

      <form>
        <input type="text" name="item" placeholder="Add new item......" required/>
        <button type="sub">Add item</button>
      </form>

      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>

    </div>
  </body>
</html>
